html, body{
    width: 100%;
    overflow-x: hidden;
}
body{
    background-image: url("../images/fondo1.jpg");
    background-size: 100%;
}
p{
    margin: 0;
}



.tituloLogin{
    margin-top: 2%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    text-align: center;
    font-feature-settings: 'kern' off, 'liga' off;
    color: #FFFFFF;
    mix-blend-mode: screen;
    animation: rotate 3s infinite;
    animation-name: rotate;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}
@keyframes rotate{
    0%, 100% {
    transform: rotate(2deg);
    }
    50% {
    transform: rotate(-2deg);
    }
}
.contenidoLogin{
    background: rgba(0, 0, 0, 0.8);
}
.user {
 
    background-color: #6c757d00;
    border-color: #6c757d00;
}
.dropdown-toggle::after{
    content: none;
}
.boton{
    background: #754DCA;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.3);
    border-radius: 10em !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
}
.boton:hover{
    color: #FFFFFF;
}

element.style {
    vertical-align: none !important;
}


.estiloLetra{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #FFFFFF;
}

.preguntaSuscripcion, .linkSubscripcion{
    font-size: 18px;
}
.linkSubscripcion{
    text-decoration-line: underline;
}
.forgetPassword, .recuerdame{
    font-size: 13px;
    color: rgb(154, 153, 156);
}
.forgetPassword:hover{
    color: white;
}

.box {
    background: #666666;
    color: #ffffff;
    margin: 1em auto;
  }

  input[type="checkbox"] {
    visibility: hidden;
  }
  label {
    cursor: pointer;
  }
  input[type="checkbox"] + label:before {
    border: 1px solid #333;
    content: "\00a0";
    display: inline-block;
    font: 16px/1em sans-serif;
    height: 16px;
    margin: 0 .25em 0 0;
    padding: 0;
    vertical-align: center;
    width: 15px;
  }
  input[type="checkbox"]:checked + label:before {
    background: #754DCA;
    color: #fff;
    content: "\2713";
    text-align: center;
  }
  input[type="checkbox"]:checked + label:after {
    font-weight: bold;
  }
  
  input[type="checkbox"]:focus + label::before {
      outline: rgb(59, 153, 252) auto 5px;
  }
/******************** Suscripcion *********************/

.contenedorSuscripcion{
    background: rgba(0, 0, 0, 0.8);
}

.pasos{
    color: #754DCA;
    font-size: 23px;
}

.atrasPasos{
    width: 50px;
}
.titulo .estiloLetra{
    font-size: 24px;
}
.bg-light, .menudesplegable{
    background: rgba(0, 0, 0, 0.61)!important;
   
}
.menudesplegable{
    background: rgba(129, 25, 150, 0.788)!important;
   
}
.dropdown-item{
    color: white!important;
}
.dropdown-item:hover{
    background-color: rgba(129, 25, 150, 0.788)!important;
}
.estabarra{
    background: rgb(0, 0, 0)!important;
   
}
.notificacionBorde{
    border-bottom: 1px solid black;
}
.estrenoTitulo{
    color: black;
    font-weight: bolder;
}
.userJuan{
    font-weight: bolder;
}
.estabarra a{
    color: white!important;
}
#netflics{
    font-size: 2rem;
    font-weight: bolder;
    color: rgba(255, 255, 255, 0.74);
    
}
#logoN{
    font-weight: bolder;
    color: rgba(162, 29, 189, 0.788)!important;
    border: 1px solid rgba(162, 29, 189, 0.788)!important;
}
.buscador {
    background-color: rgba(137, 107, 201, 0.418);
    border: 1px solid  rgba(95, 47, 201, 0.411);;
}
.pasos{
    color: #754DCA;
    font-size: 23px;
}
.pasouno{
    display: flex;
    justify-content: flex-end;
}

.planes{
    width: 100%;

}
.plan{
    opacity: 0.8;
}
.plan:hover{
    opacity: 1;
}
.tituloPaso{
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 24px;
}
.inputs{
    margin-bottom: 0;
}
.avatar{
    width: 80%;
    opacity: 0.6;
}
.avatar:hover{
   opacity: 1;
    
}

 

/*************************************HOME**********************************************/
.bannerEstreno{
    background-image: url(../images/animales.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.bannerEstrenoMobile{
    background-image: url(../images/animalesMobile.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.contenedorInfo{
    border-radius: 5px;
}
.tituloEstreno{
    font-weight: bolder;
    font-size: 1.5em;
    }
.tituloInfo{
    font-weight: bolder;
    font-size: 1.2em;
   
    }
.anioSerie{
        font-weight: bolder;
        font-size: 16px;
    }
 .texto, .textoSerie{
            font-style: normal;
            font-weight: normal;
  
            font-size: 18px;
    }
    .lista{
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
  
    }
    
    .iconoInfoEstreno{
        width: 24%;
    }
    .iconoLista{
        width: 50px;
        }
    .iconoInfo{
        position: absolute;
        bottom :0;
        right:10%;
        width: 10%;
    }
    .iconoNext{
        width: 50px;
        height: 70px;
    }
    .divpeli{
        position:relative;
    }
    
    .fotoPequeña{
        width: 100%;
    }





/*************************************HOME PELICULAS**********************************************/

.contenedorLista,  .contenedorPeliculas, .contenedorInfo{
    background: rgba(0, 0, 0, 0.7);
}
.imagenplay:hover{
    border-radius: 20%;
}

.playContinuarViendo{
width:5%;
height: 5%;
}
.barraDeTiempo{
    width: 55%;
    height: 10%;
}
.infoCapitulo{
    width: 35%;
    height: 10%;
    font-size:10px;
    font-weight: bolder;
}

/******************NAVGEGADOR******************/

li .milista{
    padding-right: 10%;
}
/******************FOOTER******************/
footer{
    background-color: #000000;
    opacity: 0.9;
    }
    
 footer p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    font-size: 14px;
    color: #474343;
    }
    
/******************FICHA SERIE******************/
.tituloInfoFicha{
    font-weight: 700;
    font-size: 30px;
    line-height: 0px;
}

.fondoDesktop{
background-image: url(../images/strangerInfo.jpg); 
background-size: 100%;
background-repeat: no-repeat;
}
.fondoMobile{
    background-image: url(../images/strangerMobile.jpg); 
    background-size: 100%;
    background-repeat: no-repeat;
    }
.apto{
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    }
    
.apto .edad{
    font-weight: 400;
    font-size: 12px;
}

.infoSerie{
    font-size: 20px;
    line-height: 30px;
}

.iconoEstrellaVacia, .iconoEstrellaRellena{
    width: 40px;
}
.iconoEstrellaRellena{
    animation-name: mover;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: initial;
    
    animation-play-state: running;
    }
    
    @keyframes mover{
    0%, 100% {
    transform: rotate(12deg);
    }
    50% {
    transform: rotate(-12deg);
    }
    }

.calificar{
    width: 38px;
}

.preguntaRecomendacion{
    font-size:18px;
    line-height: 20px;
    font-weight: 700;
}

.anio{
    font-size: 18px;
}

.playBoton{
    width:15px;
}

.mostrarme{
    border: 2px solid black;
}

.contenedorachicar{
    padding-left: 0rem!important;
    padding-right: 0rem!important;

}

/***********************REPRODUCIR PELICULA*******************/
.contenedorRepro{
    background: rgba(110, 110, 110, 0.281);
position: absolute;
bottom: 0;
}
.iconosRepro{
    width: 40%;
}
.imgPlay{
    width: 60%;
}
/************************* MEDIA QUERY ************/
@media screen and (max-width: 400px){
    .tituloInfoFicha{
        font-weight: 700;
        font-size: 18px;
        line-height: 0px;
    }
    .fotoPequeña{
        width: 100%;
    }
    .infoSerie{
        font-size: 16px;
        line-height: 20px;
    }

    .temporadas{
        font-size:12px;
    }
    .avatar{
        width: 50%;
    }
    .iconosRepro{
        width: 80%;
    }
    .imgPlay{
        width: 100%;
    }
    .video {
        position: absolute;
        transform: rotate(90deg);
      
        transform-origin: bottom left;
        width: 100vh;
        height: 100vw;
        margin-top: -100vw;
        object-fit: cover;
      
        z-index: 4;
        visibility: visible;
    }
    .fondoRepro {
        background-image: rotate (90deg);
    }

     .contenedorInfo{
         margin-left:8%;
     }
     .temporadas{
         margin-top: 3%;
     }
     .iconoEstrellaVacia, .iconoEstrellaRellena{
         margin-right:30%;
     }
    }
   
    .bodyError{
    background:black;
    }
    .tituloError{
        font-size:48px;
    }